<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to home page</title>
    </head>
    <style>
        body{
            margin: 0;
            padding: 0;
            background: url(https://cdn.glitch.global/70b5fad4-9e5e-4d3e-8188-fbcd53437190/bg.jpg?v=1693325309311) no-repeat center center fixed;
            background-size: cover;

        }
        p{
            text-align: left;
            color:#FFE5B4;
            font-size: 50px;
            font-weight: bolder;
            padding-top: 134px;
            padding-left: 30px;
        }
        .logo{
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            padding: 10px;
        }
        .one{
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 135px;
            margin-top: 75px;
        }
        .sln{
            font-size: x-large;
            margin-top: -165px;
        }
    </style>
    <body method="GET">
        <p> “The advance of technology is<br> based on making it fit in so that<br> you don't really even notice it, <br>so it's part of everyday life.”</p>
        <div>
            <a href="/signup" class="one">SIGNUP</a>
            <a href="/login" class="one">LOGIN</a>
        </div>
    </body>
</html>