<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>URL Validation</title>
    </head>
    <style>
        body{
            background-image: url(https://cdn.glitch.global/70b5fad4-9e5e-4d3e-8188-fbcd53437190/bg2.jpg?v=1693318556370);
            background-repeat:no-repeat;
            background-size:cover;
            background-attachment: fixed ;

        }
        h1{
            text-align: center;
            color: white;
            margin-top: 33px;
            margin-left: 60px;
            padding-top: 10px;
        }
        h5{
            text-align: center;
            color: white;
            font-size: large;
            margin-left: 60px;
        }
        .form{
            padding: 10px;
            padding-right: 360px;
            border-radius: 10px;
            margin-left: 515px;
            position: fixed;
        
        }
        .btn{
            padding: 7px;
            margin-left: 750px;
            margin-top: 30px;
            border-radius: 5px;
        }
        .home{
            display: inline-block;
            padding: 10px 20px;
            background-color: whitesmoke;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 135px;
            margin-top: 33px;
        }
        p{
            color: #fff;
            font-size: xx-large;
            margin-left: 130px;
        }

    </style>
        <div class = "container">
            <form action = "/datasubmit" method = "post">
                <p><b>Hello User!</b></p>
                <div class="home">
                    <a href="/home" class="one">LOGOUT</a>
                </div>
                <div class = "form-group text-center">
                    <h1>Validate Your <b>URL</b></h1><br>
                    <h5>Enter the URL you wish to know about or validate...</h5><br>
                    <input type = "text" name = "gds" class = "form" placeholder = "Enter url"><br>
                    <input type = "submit" class = "btn" value = "Validate">
                </div>
            </form>
        </div>
    </body>
</html>