<!DOCTYPE html>
<html>
    <head>
        <title>signup submit</title>
    </head>
    <style>
        .one{
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 710px;
        
        }
        p{
            text-align: center;
            font-size: xx-large;
        }
        .img{
            width: 150px;
            height: 150px;
            padding: 10px;
            margin-left: 680px;
            margin-top: 5px;
        }
    </style>
    <body action="/popup" method="GET">
        <div>
            <img src="https://cdn.glitch.global/73378d51-e63a-49c9-8d37-1a557de3a582/tick.png?v=1692522049732" class="img">
            <p>THANK YOU</br>
            Signup Successfully completed</br>
            please continue</p>
            <a href="/login" class="one">LOGIN</a>
        </div>
    </body>
</html>